body { padding-top: 70px;}

/* ------------------Signup/in Buttons CSS Start-------------------- */
.btn {
    float: left;
    margin-left: 5px;
}

#newBtn {
    background-color: #5ca4a9;
    border: unset;
    color: #e6ebe0;
    width: 70px;
}

#signBtn {
    background-color: #5ca4a9;
    border: unset;
    color: #e6ebe0;
    width: 70px;
}
/* ------------------Signup/in Buttons CSS End-------------------- */
.control-label {
    color: #ed6a5a;
}

#header {
    color: #ed6a5a;
}

#login {
    background-color: #5ca4a9;
    border: unset;
    color: #e6ebe0;
    width: 70px;
}



.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: #5ca4a9;
    margin-top: 30px;
    opacity: 0.7;
}